<!DOCTYPE html>
<html>
<head>
<title>Musicbox</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= include_gon %>
<%= Gon::Base.render_data %>
<%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
